
@{
    Layout = null;
    List<BTController.Models.Student> student1 = (List<BTController.Models.Student>)ViewBag.List1;
    List<BTController.Models.Student> student2 = (List<BTController.Models.Student>)ViewBag.List2;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listviewbag</title>
</head>
<body>
    <div>
        <h1>Danh sách sinh viên khoa CNTT</h1>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Lớp</th>
            </tr>

            @foreach (var x in student1)
            {
                <tr>
                    <td>@x.Id</td>
                    <td>@x.Name</td>
                    <td>@x.Class</td>
                </tr>
            }
        </table>
        <h1>Danh Sách Sinh Viên Lớp 63.CNTT-4</h1>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Lớp</th>
            </tr>

            @foreach (var x in student2)
            {
                {<tr>
                    <td>@x.Id</td>
                    <td>@x.Name</td>
                    <td>@x.Class</td>
                </tr>
                    }
                }
        </table>
    </div>
</body>
</html>
