
@model BTController.Models.strongbac1
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>giaipt1</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <div class="container">
                <div class="form">
                    <h2>THỰC HIỆN GIẢI PT BẬC 1</h2>
                    @Html.LabelFor(model => model.a) @Html.TextBoxFor(model => model.a) <br />
                    @Html.LabelFor(model => model.b) @Html.TextBoxFor(model => model.b) <br />
                    <input type="submit" value="Giải" /><br />
                    Kết quả: @Model.kq
                </div>
            </div>
        }
    </div>
</body>
</html>
